@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, searchForm:
Form[views.formdata.SearchFormData], surferTypes: Map[String, Boolean],
countries: Map[String, Boolean])(content: Html)

@import helper._
@import bootstrap3._
<!DOCTYPE html>

<html>
<head>
<title>Surferpedia: @page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!--  Load site-specific customizations after bootstrap. -->
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
        <![endif]-->
</head>
<body>

	<div class="header hidden-xs"></div>

	<!-- Responsive navbar -->
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button id="navbutton" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<!--  Display three horizontal lines when navbar collapsed. -->
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Surferpedia</a>
			</div>
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
          <li><a id="allsurfers" href="@routes.Application.allSurfers()"><span class="glyphicon glyphicon-list"></span> All Surfers</a></li>
			    <li><a id="map" href="@routes.Application.showMap()"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
			  </ul>
				@if(isLoggedIn) {
				<ul class="nav navbar-nav">
					<li><a id="newsurfer" href="@routes.Application.newSurfer()"><span class="glyphicon glyphicon-pencil"></span> New Surfer</a></li>
					<li><a id="updates" href="@routes.Application.showUpdates()"><span class="glyphicon glyphicon-list-alt"></span> Updates</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><p class="navbar-text hidden-xs">@userInfo.getEmail() </p></li>
					<li><a id="logout" href="@routes.Application.logout()"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
				</ul>
				} else {
				<ul class="nav navbar-nav navbar-right">
					<li><a id="login" href="@routes.Application.login()"><span class="glyphicon glyphicon-user"></span> Login</a></li>
				</ul>
				}
				<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-search"></span> Search<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <div class="search">
                @searchwidget(searchForm("key"),
                              searchForm("searchType"),
                              searchForm("country"),
                              surferTypes,
                              countries)
              </div>
            </ul>
          </li>
          <!--  
					<li class="dropdown"><a id="searchdropdown" class="dropdown-toggle"
						data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-search"></span> Search<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<div class="search">
							  @searchwidget(searchForm("key"),
							                searchForm("searchType"),
							                searchForm("country"),
							                surferTypes,
							                countries)
							</div>
						</ul></li> -->
				</ul>
			</div>
		</div>
	</div>
	@content
	<!-- Load Bootstrap JavaScript components. HTMLUnit (used in testing) requires JQuery 1.8.3 or below). -->
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/hoverimage.js")"></script>

</body>
</html>

